.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul{
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;

        button{
            border-radius: 0
        }
        
    }
}

